<h2>Order at: {{vm.bar.name}}</h2>
<form>
  <input type="text" name="productSearch" ng-model="vm.resultsFilter">
  <button type="submit">Search</button>
</form>
<table>
  <tbody>
    <tr ng-repeat="product in vm.products | filter: {name: vm.resultsFilter}">
      <td><img ng-src="{{product.image_url}}" alt="{{product.name}} image"></td>
      <td>{{product.name}}</td>
      <td>{{product.current_price | currency: '£'}}</td>
      <td>
        <button type="button" ng-click="vm.removeFromOrder(product)" ng-disabled="!vm.isInOrder(product)">-</button>
        <button type="button" ng-click="vm.addToOrder(product)">+</button>
        x{{vm.order.products[product.id].amount || 0}}
      </td>
    </tr>
  </tbody>
</table>
<nav>
  {{vm.totalDrinks()}} drinks
  Price estimate: {{vm.totalPrice() | currency: '£'}}
  <button type="submit" ng-click="vm.saveOrder()">Save Order</button>
</nav>
