<h2>Find a Bar</h2>
<form>
  <label for="barQuery">Search</label><input type="text" name="barQuery" ng-model="vm.resultsQuery">
</form>
<h2>Search Results</h2>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bar in vm.results | filter: {name: vm.resultsQuery}">
      <td><a ui-sref="orders-new({bar: bar.id})"><img ng-src='{{bar.image_url}}'></a></td>
      <td><a ui-sref="orders-new({bar: bar.id})">{{bar.name}}</a></td>
    </tr>
  </tbody>
</table>
<h2>Recent orders</h2>
<ol>
  <li ng-repeat="order in vm.recent">
    <a ui-sref="orders-view({id: order.id})">
      {{order.totalPrice | currency: '£'}} for
      {{order.itemCount}} drinks
      at {{order.bar.name}}
    </a>
  </li>
</ol>
