<h2>Find a Pub</h2>
<form>
  <label for="pubQuery">Search</label><input type="text" name="pubQuery">
  <button type="submit">Search</button>
</form>
<h2 ng-if="vm.results">Search Results</h2>
<table ng-if="vm.results">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#"><img ng-src='http://lorempixel.com/150/64/abstract/1/'></a></td>
      <td><a href="#">Tourmalet</a></td>
    </tr>
    <tr>
      <td><a href="#"><img ng-src='http://lorempixel.com/150/64/abstract/2/'></a></td>
      <td><a href="#">6 Degrees North</a></td>
    </tr>
  </tbody>
</table>
<h2>Recent pubs</h2>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#"><img ng-src='http://lorempixel.com/150/64/abstract/1/'></a></td>
      <td><a href="#">Tourmalet</a></td>
    </tr>
    <tr>
      <td><a href="#"><img ng-src='http://lorempixel.com/150/64/abstract/2/'></a></td>
      <td><a href="#">6 Degrees North</a></td>
    </tr>
  </tbody>
</table>
